
[
  {
    "userid": "7203106696737735722",
    "sec_uid": "MS4wLjABAAAAqbtC3OdQhjVSK8oE5P-6Lmb5JlZOyb-Hyh3UG45I2gaJB7a1Jg606Qmue-AWUq_m",
    "uniqueId": "kerneldump",
    "name": ":kernel:"
  },
  {
    "userid": "6943020649296675845",
    "sec_uid": "MS4wLjABAAAAhcTCV98qvjFPTpDWiyf7jHgmiUpAeeORIyB4KnyO3ya15Mk0DhZ1BXUpl3YAgxJZ",
    "uniqueId": "cryptoknightus",
    "name": ":cryptoknight:"
  },
  {
    "userid": "7067635035893793838",
    "sec_uid": "MS4wLjABAAAAJF_pbmrhdyP106QQsr22r0pADE1G6EiyFodowJHNcFR_BFIBh1W6Toiu74Nw2nby",
    "uniqueId": "digital.byte",
    "name": ":digitalbyte:"
  },
  {
    "userid": "6705509602445853702",
    "sec_uid": "MS4wLjABAAAAFi_tAe9dhGUAMqDpicpZw1VmpFo-B_v9oQ-TltVFSzNfGaFHQGHoZgxuTKRV0Eye",
    "uniqueId": "failedsavingthrow",
    "name": ":failed:"
  },
  {
    "userid": "6741174267797324805",
    "sec_uid": "MS4wLjABAAAAhaL5iRUDyGAS83g_r2-pusLz1gx__zw9-_OTCd9DdGlO6IP9CM4WPShjDlZCFIX0",
    "uniqueId": "byte_back",
    "name": ":kitt:"
  },
  {
    "userid": "6866611891541099525",
    "sec_uid": "MS4wLjABAAAAfQ75uitnqpaHONB8f3iXLWydc7zg2O_yLFk45hF73bnVbtRRVAhPrEcNnQ76W82w",
    "uniqueId": "iyamsnaxx",
    "name": ":kat:"
  },
  {
    "userid": "6817138219484185605",
    "sec_uid": "MS4wLjABAAAAVNGPWmRrP1IqVktqjsaYSAwSucqmzEG26lvF6CEU7-YpE7Q2w2zGBDO7wiBB4Udf",
    "uniqueId": "edtheoldtechguy",
    "name": ":ed:"
  },
  {
    "userid": "6824835626354934789",
    "sec_uid": "MS4wLjABAAAA8DqZWLeAUVODJDwDn_d4986dwpdX9UUtYveY3zRy7w2TEFA1s_0zT_vuTcWVQDwK",
    "uniqueId": "0xvmx",
    "name": ":0x:"
  },
  {
    "userid": "7107646480692970539",
    "sec_uid": "MS4wLjABAAAAuwDLcUZDkF4-bd7qQC9jIVkDwSJk8lmTUGvTHnxLMHyXUKQMoUFAG_jvgBbps2_8",
    "uniqueId": "tracketpacer",
    "name": ":tracketpacer:"
  },
  {
    "userid": "7041735799540646917",
    "sec_uid": "MS4wLjABAAAAoZfdYi5DoOI7REE-3fsmZK7voebGmyESCH_gAg2aZvP4mS6OyQMI-CWPPwSnAl7C",
    "uniqueId": "tickitytunes",
    "name": ":tickity:"
  },
  {
    "userid": "6802199283102893062",
    "sec_uid": "MS4wLjABAAAAu9_AK2X6FoA1BTfmbjNle7uDn4LIS13-T6DBB0FWGhjWOW1MBfbELG-ikjXLstON",
    "uniqueId": "adjacentnode",
    "name": ":adjacent:"
  },
  {
    "userid": "6732049266938381317",
    "sec_uid": "MS4wLjABAAAA-81RHtMm2Mi6OHMKth9-XUyXUYhknlyvscUwIbqXJklV6Aw8AAZscbIihHPgpsB0",
    "uniqueId": "devhulk",
    "name": ":devhulk:"
  },
  {
    "userid": "7078472847472428074",
    "sec_uid": "MS4wLjABAAAAhRE68KNoKAFABMEiQu0aBA-7b9y0-FjS48gl2vG8K49HSKMz0N1ou9Dlo5UNTDoN",
    "uniqueId": "noconobody",
    "name": ":clown_face:"
  },
  {
    "userid": "7256868806513968174",
    "sec_uid": "MS4wLjABAAAAkCkXQJUxrpVvbzSw5E6anbIdu9j5GgSlvpxZgFfBKW38VRrvH61LBuKFdnhk0FW8",
    "uniqueId": "coloneldump",
    "name": ":kernel:"
  }
]